aiohappyeyeballs==2.4.0 ; python_version >= "3.12" and python_version < "4.0"
aiohttp==3.10.5 ; python_version >= "3.12" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
altair==5.1.2 ; python_version >= "3.12" and python_version < "4.0"
ansicon==1.89.0 ; python_version >= "3.12" and python_version < "4.0" and os_name == "nt" and platform_system == "Windows"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.12" and python_version < "4.0"
anyio==4.4.0 ; python_version >= "3.12" and python_version < "4.0"
appnope==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
argcomplete==3.1.2 ; python_version >= "3.12" and python_version < "4.0"
ariadne-django==0.3.0 ; python_version >= "3.12" and python_version < "4.0"
ariadne==0.23.0 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
asttokens==2.0.5 ; python_version >= "3.12" and python_version < "4.0"
async-generator==1.10 ; python_version >= "3.12" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.12" and python_version < "4.0"
attrs==21.4.0 ; python_version >= "3.12" and python_version < "4.0"
backcall==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
blinker==1.6.3 ; python_version >= "3.12" and python_version < "4.0"
blis==0.7.8 ; python_version >= "3.12" and python_version < "4.0"
boto==2.49.0 ; python_version >= "3.12" and python_version < "4.0"
cachetools==5.3.1 ; python_version >= "3.12" and python_version < "4.0"
catalogue==2.0.7 ; python_version >= "3.12" and python_version < "4.0"
certifi==2021.10.8 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==2.0.12 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.2 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (os_name == "nt" or platform_system == "Windows" or sys_platform == "win32") and (platform_version < "10.0.10586" or platform_system == "Windows" or sys_platform == "win32")
console==0.9907 ; python_version >= "3.12" and python_version < "4.0"
contourpy==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
crcmod==1.7 ; python_version >= "3.12" and python_version < "4.0"
cryptography==41.0.4 ; python_version >= "3.12" and python_version < "4.0"
cycler==0.11.0 ; python_version >= "3.12" and python_version < "4.0"
cymem==2.0.6 ; python_version >= "3.12" and python_version < "4.0"
dataclasses-json==0.5.9 ; python_version >= "3.12" and python_version < "4.0"
debugpy==1.5.1 ; python_version >= "3.12" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.12" and python_version < "4.0"
django-cors-headers==4.4.0 ; python_version >= "3.12" and python_version < "4.0"
django==5.1 ; python_version >= "3.12" and python_version < "4.0"
entrypoints==0.4 ; python_version >= "3.12" and python_version < "4.0"
et-xmlfile==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
exceptiongroup==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
executing==0.8.3 ; python_version >= "3.12" and python_version < "4.0"
ezenv==0.92 ; python_version >= "3.12" and python_version < "4.0"
fairlearn==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
fasteners==0.19 ; python_version >= "3.12" and python_version < "4.0"
filelock==3.6.0 ; python_version >= "3.12" and python_version < "4.0"
fonttools==4.29.1 ; python_version >= "3.12" and python_version < "4.0"
frozenlist==1.4.1 ; python_version >= "3.12" and python_version < "4.0"
fsspec==2023.6.0 ; python_version >= "3.12" and python_version < "4.0"
future==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
gax-google-logging-v2==0.8.3 ; python_version >= "3.12" and python_version < "4.0"
gax-google-pubsub-v1==0.8.3 ; python_version >= "3.12" and python_version < "4.0"
gcloud==0.18.3 ; python_version >= "3.12" and python_version < "4.0"
gcs-oauth2-boto-plugin==3.0 ; python_version >= "3.12" and python_version < "4.0"
gitdb==4.0.10 ; python_version >= "3.12" and python_version < "4.0"
gitpython==3.1.37 ; python_version >= "3.12" and python_version < "4.0"
google-api-core==2.11.1 ; python_version >= "3.12" and python_version < "4.0"
google-apitools==0.5.32 ; python_version >= "3.12" and python_version < "4.0"
google-auth==2.23.0 ; python_version >= "3.12" and python_version < "4.0"
google-auth[aiohttp]==2.23.0 ; python_version >= "3.12" and python_version < "4"
google-cloud-core==2.3.3 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-storage==2.11.0 ; python_version >= "3.12" and python_version < "4.0"
google-crc32c==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
google-gax==0.12.5 ; python_version >= "3.12" and python_version < "4.0"
google-reauth==0.1.1 ; python_version >= "3.12" and python_version < "4.0"
google-resumable-media==2.6.0 ; python_version >= "3.12" and python_version < "4.0"
googleapis-common-protos==1.60.0 ; python_version >= "3.12" and python_version < "4.0"
graphql-core==3.2.3 ; python_version >= "3.12" and python_version < "4"
graphviz==0.20.1 ; python_version >= "3.12" and python_version < "4.0"
greenlet==3.0.3 ; python_version >= "3.12" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpc-google-logging-v2==0.8.1 ; python_version >= "3.12" and python_version < "4.0"
grpc-google-pubsub-v1==0.8.1 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.65.5 ; python_version >= "3.12" and python_version < "4.0"
gsutil==5.26 ; python_version >= "3.12" and python_version < "4"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
httplib2==0.20.4 ; python_version >= "3.12" and python_version < "4.0"
huggingface-hub==0.10.1 ; python_version >= "3.12" and python_version < "4.0"
huggingface==0.0.1 ; python_version >= "3.12" and python_version < "4.0"
humanize==4.6.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.3 ; python_version >= "3.12" and python_version < "4.0"
imhist==0.0.4 ; python_version >= "3.12" and python_version < "4.0"
importlib-metadata==5.0.0 ; python_version >= "3.12" and python_version < "4.0"
importlib-resources==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
imwatermark==0.0.2 ; python_version >= "3.12" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
ipykernel==6.0.0 ; python_version >= "3.12" and python_version < "4.0"
ipython-genutils==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
ipython==8.1.1 ; python_version >= "3.12" and python_version < "4.0"
jedi==0.18.1 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.12" and python_version < "4.0"
jinxed==1.3.0 ; python_version >= "3.12" and python_version < "4.0" and os_name == "nt"
joblib==1.4.2 ; python_version >= "3.12" and python_version < "4.0"
jsonschema==4.4.0 ; python_version >= "3.12" and python_version < "4.0"
jupyter-client==7.1.2 ; python_version >= "3.12" and python_version < "4.0"
jupyter-core==4.9.2 ; python_version >= "3.12" and python_version < "4.0"
kiwisolver==1.3.2 ; python_version >= "3.12" and python_version < "4.0"
langchain==0.0.276 ; python_version >= "3.12" and python_version < "4.0"
langcodes==3.3.0 ; python_version >= "3.12" and python_version < "4.0"
langsmith==0.0.29 ; python_version >= "3.12" and python_version < "4.0"
llama-index==0.8.13 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.12" and python_version < "4.0"
marshmallow-enum==1.5.1 ; python_version >= "3.12" and python_version < "4.0"
marshmallow==3.20.1 ; python_version >= "3.12" and python_version < "4.0"
matplotlib-inline==0.1.3 ; python_version >= "3.12" and python_version < "4.0"
matplotlib==3.8.0 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
monotonic==1.6 ; python_version >= "3.12" and python_version < "4.0"
multidict==6.0.5 ; python_version >= "3.12" and python_version < "4.0"
murmurhash==1.0.7 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
nbformat==5.1.3 ; python_version >= "3.12" and python_version < "4.0"
nest-asyncio==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
nltk==3.7 ; python_version >= "3.12" and python_version < "4.0"
numexpr==2.8.5 ; python_version >= "3.12" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "4.0"
oauth2client==4.1.3 ; python_version >= "3.12" and python_version < "4.0"
omegaconf==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
openai==0.27.10 ; python_version >= "3.12" and python_version < "4.0"
opencv-contrib-python==4.6.0.66 ; python_version >= "3.12" and python_version < "4.0"
openpyxl==3.0.10 ; python_version >= "3.12" and python_version < "4.0"
out==0.78 ; python_version >= "3.12" and python_version < "4.0"
outcome==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.2.2 ; python_version >= "3.12" and python_version < "4.0"
parso==0.8.3 ; python_version >= "3.12" and python_version < "4.0"
pathy==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
patsy==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
pexpect==4.8.0 ; python_version >= "3.12" and python_version < "4.0"
pickleshare==0.7.5 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "4.0"
plotly==5.13.0 ; python_version >= "3.12" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
ply==3.8 ; python_version >= "3.12" and python_version < "4.0"
preshed==3.0.6 ; python_version >= "3.12" and python_version < "4.0"
prompt-toolkit==3.0.28 ; python_version >= "3.12" and python_version < "4.0"
protobuf==4.24.3 ; python_version >= "3.12" and python_version < "4.0"
psycopg2==2.9.9 ; python_version >= "3.12" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
pure-eval==0.2.2 ; python_version >= "3.12" and python_version < "4.0"
pyarrow==17.0.0 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.12" and python_version < "4.0"
pydantic==1.8.2 ; python_version >= "3.12" and python_version < "4.0"
pydeck==0.8.1b0 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.16.1 ; python_version >= "3.12" and python_version < "4.0"
pymysql==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
pyopenssl==23.2.0 ; python_version >= "3.12" and python_version < "4.0"
pyparsing==3.0.7 ; python_version >= "3.12" and python_version < "4.0"
pyqt6-qt6==6.4.2 ; python_version >= "3.12" and python_version < "4.0"
pyqt6-sip==13.4.1 ; python_version >= "3.12" and python_version < "4.0"
pyqt6==6.4.2 ; python_version >= "3.12" and python_version < "4.0"
pyrsistent==0.18.1 ; python_version >= "3.12" and python_version < "4.0"
pysocks==1.7.1 ; python_version >= "3.12" and python_version < "4.0"
pytest==8.3.2 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.12" and python_version < "4.0"
pytz==2021.3 ; python_version >= "3.12" and python_version < "4.0"
pyu2f==0.1.5 ; python_version >= "3.12" and python_version < "4.0"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
pyzmq==26.1.1 ; python_version >= "3.12" and python_version < "4.0"
regex==2022.3.15 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
retry-decorator==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
rich==13.6.0 ; python_version >= "3.12" and python_version < "4.0"
rsa==4.7.2 ; python_version >= "3.12" and python_version < "4"
ruff==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
sacremoses==0.0.49 ; python_version >= "3.12" and python_version < "4.0"
scikit-learn==1.5.1 ; python_version >= "3.12" and python_version < "4.0"
scipy==1.14.0 ; python_version >= "3.12" and python_version < "4.0"
seaborn==0.12.2 ; python_version >= "3.12" and python_version < "4.0"
selenium==4.7.2 ; python_version >= "3.12" and python_version < "4.0"
setuptools-scm==8.1.0 ; python_version >= "3.12" and python_version < "4.0"
setuptools==73.0.0 ; python_version >= "3.12" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
smart-open==5.2.1 ; python_version >= "3.12" and python_version < "4.0"
smmap==5.0.1 ; python_version >= "3.12" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.12" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "4.0"
soupsieve==2.4.1 ; python_version >= "3.12" and python_version < "4.0"
spacy-legacy==3.0.9 ; python_version >= "3.12" and python_version < "4.0"
spacy-loggers==1.0.2 ; python_version >= "3.12" and python_version < "4.0"
sqlalchemy==2.0.20 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
stack-data==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
starlette==0.38.4 ; python_version >= "3.12" and python_version < "4.0"
streamlit==1.27.2 ; python_version >= "3.12" and python_version < "4.0"
tenacity==8.2.3 ; python_version >= "3.12" and python_version < "4.0"
threadpoolctl==3.1.0 ; python_version >= "3.12" and python_version < "4.0"
tiktoken==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.12" and python_version < "4.0"
toolz==0.12.0 ; python_version >= "3.12" and python_version < "4.0"
tornado==6.1 ; python_version >= "3.12" and python_version < "4.0"
tqdm==4.64.0 ; python_version >= "3.12" and python_version < "4.0"
traitlets==5.1.1 ; python_version >= "3.12" and python_version < "4.0"
trio-websocket==0.11.1 ; python_version >= "3.12" and python_version < "4.0"
trio==0.22.0 ; python_version >= "3.12" and python_version < "4.0"
typer==0.12.4 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0"
tzlocal==5.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==1.26.19 ; python_version >= "3.12" and python_version < "4.0"
urllib3[socks]==1.26.19 ; python_version >= "3.12" and python_version < "4.0"
validators==0.33.0 ; python_version >= "3.12" and python_version < "4.0"
wasabi==0.10.1 ; python_version >= "3.12" and python_version < "4.0"
watchdog==4.0.2 ; python_version >= "3.12" and python_version < "4.0" and platform_system != "Darwin"
wcwidth==0.2.13 ; python_version >= "3.12" and python_version < "4.0"
wsproto==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
yarl==1.9.4 ; python_version >= "3.12" and python_version < "4.0"
zipp==3.20.0 ; python_version >= "3.12" and python_version < "4.0"
